<!DOCTYPE html>
<html>
    <head>
        {{>head}}
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>pageheader}}
            <div>
                <img class="portrait" src="./img/profile_picture.jpg" alt="eli image" />
            </div>
            <p/>
            <div>
                {{message}}
            </div>
        </div>
        {{>pagefooter}}
    </body>
</html>