<!DOCTYPE html>
<html>
    <head>
        {{>head}}
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>pageheader}}
            <h1><strong>{{message}}</strong></h1>
        </div>
        {{>pagefooter}}
    </body>
</html>