<!DOCTYPE html>
<html>
    <head>
        {{>head}}
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>pageheader}}
            <h2>{{message}}</h2>
            <p/>
            In the 'Address to Locate' input, enter address to get geolocation, map, weather
            <ul>
                <li>The server will try different location services to obtain lat,lng</li>
                <li>It will then try map service to obtain map image</li>
                <li>It will then try different weather services to obtain current weather and temperature</li>
            </ul>
            <p/>
            <p/>
            Once You are seeing map image(s), you can click on the zoom icons to zoom in or out
            <ul>
                <li>The server will repeat the entire sequence above</li>
            </ul>
            <p/>
        </div>
        {{>pagefooter}}
    </body>
</html>