<!DOCTYPE html>
<html>
    <head>
        {{>head}}
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>pageheader}}
            <h2>{{message}}</h2>
            <p/>
            Location - Enter Address To Get Geolocation
            <ul>
                <li>The server will try different location services</li>
            </ul>
            <p/>
            Weather - Enter Address To Get Weather
            <ul>
                <li>The server will try different weather services</li>
            </ul>
        </div>
        {{>pagefooter}}
    </body>
</html>